{% extends 'core/base.html' %}

{% block content %}
    <h1 class="title">Dashboard - User: {{ userprofile.user.username }}</h1>

    <a href="{% url 'add_qr_block' %}" class="button is-light">Create New QRBlock</a>
    
    <br></br>

    <button onClick="show_hide('qrblock_list_div')" class="button is-light">Show/Hide QRBlocks</button>
    
    <br>
    
    <div id="qrblock_list_div" style="display: none">
        <br>
        <h1 class=title>QR Blocks:</h1>   

        {% if request.user.is_superuser %}
            {% for qrblock in qrblocks reversed %}
                <div class="qrblock">
                    <a href="{% url 'view_qr_block' qrblock.id %}">{{ qrblock.id }}</a>
                </div>
            {% empty %}
                <p>You haven't created any QRs yet</p>
            {% endfor %}
        {% else %}
            {% for qrblock in request.user.qrblocks.all reversed %}
                <div class="qrblock">
                    <a href="{% url 'view_qr_block' qrblock.id %}">{{ qrblock.id }}</a>
                </div>
            {% empty %}
                <p>You haven't created any QRs yet</p>
            {% endfor %}        
        {% endif %}
    </div>

    <!-- Show / Hide Script -->
    <script src="{{ STATIC_URL }}/static/show_hide.js"></script>

{% endblock %}