{% extends 'base.html' %}

{% block content %}
    <h1 class=title>View QRBlock {{ qrblock.id }}</h1> 
    <h2 class=subtitle>(QR Codes {{ qrblock.qrblocks.all.first.id }} - {{ qrblock.qrblocks.all.last.id }})</h2>
    
    <small>Created by: {{ qrblock.created_by}}</small>
    <br>
    <small>Date added: {{ qrblock.created_at }}</small>    
    
    <br>

    <a class="button is-success">Print - TODO make print work</a>  
    <a href="{% url 'delete_qr_block' qrblock.id %}" class="button is-danger">Delete - TODO make delete work</a>

    <br>    

    <img src="/{{ qrblock.image }}">    
    
    
{% endblock %}
