{% extends 'base.html' %}

{% block content %}
    <h1 class=title>View QRBlock {{ qrblock.id }}</h1> 
    <h2 class=subtitle>(QR Codes {{ qrblock.qrs.all.first.id }} - {{ qrblock.qrs.all.last.id }})</h2>
    
    <!-- List of QR Codes -->
    <button onClick="show_hide('qr_list_div')" class="button is-light">Show/Hide QRs</button>
    <div id="qr_list_div" style="display: none">
        <br>      

        <h1 class=title>QR List</h1>

        {% for qr in qrs %}
            <a href="{% url 'view_qr_code' qr.id%}">{{ qr.id }}</a>
            
            {% if qr.container is None %} 
                - Not Used
            {% else %}
                - attached to 
                <a href="{% url 'container_detail' qr.container.location.room.slug qr.container.location.slug qr.container.slug %}">
                    {{ qr.container.name }}
                </a>
            {% endif %}  

            <br>

        {% endfor %}  

    </div>  
    <!-- End of List of QR Codes -->

    <br>
    <small>Created by: {{ qrblock.created_by}}</small>
    <br>
    <small>Date added: {{ qrblock.created_at }}</small><br>    
    
    

    <a class="button is-success">Print - TODO make print work</a>  
    <a href="{% url 'delete_qr_block' qrblock.id %}" class="button is-danger">Delete</a><br>

        

    <img src="/{{ qrblock.image }}">    
    
    <!-- Show / Hide Script -->
    <script src="{{ STATIC_URL }}/static/show_hide.js"></script>

{% endblock %}


    