{% extends 'base.html' %}

{% block content %}
    <h1 class="title">Dashboard - User: {{ userprofile.user.username }}</h1>

    <a href="{% url 'add_qr_block' %}" class="button is-light">Create New QRBlock</a>


    <h2>QR Blocks:</h2>
    
    <!-- TODO: Add if statement for admin view all -->
    {% for qrblock in request.user.qrblocks.all reversed %}
        <div class="qrblock">
            <a href="{% url 'view_qr_block' qrblock.id %}">{{ qrblock.id }}</a>
        </div>
    {% empty %}
        <p>You haven't created any QRs yet</p>
    {% endfor %}
{% endblock %}