{% extends 'base.html' %}

{% block content %}
    <h1 class="title">Deleting {{ container.name }}</h1> 
        


    <h2>Are you sure you want to delete?</h2>

    <br>

    <!-- Delete Button -->
    <form method="post" action="{% url 'delete_container' container.location.room.slug container.location.slug container.slug %}">
        {% csrf_token %}        

        <div class="field">
            <div class="control">
                <button class="button is-danger">Delete</button>
            </div>
        </div>
    </form>

    <br>

    <!-- Cancel Button -->
    <a href="{% url 'delete_container' container.location.room.slug container.location.slug container.slug %}" class="button is-light">Cancel</a>
{% endblock %}