{% extends 'base.html' %}

{% block content %}
    <h2 class="subtitle">
        <a href="{% url 'room_detail' location.room.slug %}">{{ location.room }}</a> /
    </h2>
    <h1 class='title'>{{ location.name }}</h1>

   
    <div class="columns is-multiline">
        {% for container in containers %}
            <div class="column is-3">
                <div class="card">
                    <div class="card-image">
                        <figure class="image">
                            <img src="/{{ container.thumbnail }}"> 
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4">{{ container.name }}</p>                                
                            </div>
                        </div>
                    </div>
                    
                    <footer class="card-footer">
                        <a href="{% url 'container_detail' location.room.slug location.slug container.slug %}" class="card-footer-item">View</a>
                    </footer>
                </div>
            </div>    
        {% endfor %}
    </div>
{% endblock %}